version: 2.1
jobs:
  test:
    docker:
    - image: cimg/node:16.0-browsers
    steps:
    - checkout

    # Instalaci贸n de Java
    - run:
        name: Install Java Runtime
        command: |
          sudo apt-get update
          sudo apt-get install -y openjdk-11-jdk

    # Instalaci贸n de dependencias globales
    - run:
        name: Install Global Dependencies
        command: |
          sudo npm install -g newman
          sudo npm install -g allure-commandline

    # Instalaci贸n de dependencias del proyecto
    - run:
        name: Install Project Dependencies
        command: npm install

    # Ejecuci贸n de pruebas
    - run:
        name: Run API Tests
        command: npm test

    # Almacenamiento de resultados
    - store_artifacts:
        path: allure-results
        destination: allure-results

    - store_artifacts:
        path: allure-report
        destination: allure-report

workflows:
  version: 2
  test:
    jobs:
    - test
